.stfolder
.stversions

extras/config/ranger
!extras/config/mpd/playlist/ODROID.m3u
!extras/config/mpd/mpd.conf
extras/config/mpd/*
extras/vim/*/*
!extras/vim/*/README.txt

i3/config
i3/data/*
!i3/data/README.txt
i3/dynami3/data/*
i3/dynami3/data/locks/*
!i3/dynami3/data/locks/README.txt
