[submodule "i3/dynami3"]
	path = i3/dynami3
	url = https://github.com/nejni-marji/dynami3
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/quick-scope"]
	path = vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/bundle/vim-highlightedyank"]
	path = vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
